# ==========================================
# C++ Build Artifacts
# ==========================================
*.o
*.obj
*.exe
*.dll
*.so
*.out
*.app
build/
bin/
out/

# ==========================================
# Local Test Files & Compression Outputs
# ==========================================
# Prevents you from accidentally committing personal files
# that you are testing the compressor with!
*.pdf
*.huff
*.txt
*.zip
*.jpg
*.png
*.docx
test_files/

# ==========================================
# OS & IDE Configuration Files
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# ==========================================
# Web & Vercel Environments
# ==========================================
node_modules/
.vercel/
npm-debug.log